<h1>Reinicio de Password</h1>

<p>Para reiniciar su password haga click en el siguiente link:</p>

<%= link_to "Reiniciar password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>Este link expirará en dos horas.</p>

<p>
Si no solicitó que reiniciar su contraseña, ignore este correo electrónico y
su contraseña permanecerá como está.
</p>
