<% provide(:title, "Editar usuario") %>
<% provide(:button_text, 'Grabar cambios') %>
<h1>Actualiza tu perfil</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <!--
    CODIGO ORIGINAL
        render 'form' %>
    -->
    <%= render 'form', object: @user %>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank" rel="noopener">cambiar</a>
    </div>
  </div>
</div>
