<% provide(:title, 'Registro') %>
<% provide(:button_text, 'Crear mi cuenta') %>
<h1>Registro</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <!--
    CODIGO ORIGINAL
        render 'form' %>
    -->
    <%= render 'form', object: @user %>
  </div>
</div>
